{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}

<section class='section'>
  <div class='container'>


    <h1 class="title">{{club.club_name}}</h1>
    <a href="{% url 'suite:club_roster' club.id %}">club roster</a>
    <a href="{% url 'suite:club_join' club.id %}">join this club</a>
    <a href="{% url 'suite:club_emails' club.id %}">get emailz</a>
    <a href="{% url 'suite:handle_join_request' club.id %}">handle join request</a>
    <a href="{% url 'suite:event_create' club.id %}"> CREATE AN EVENT</a>

    <br />

    {% for event in events %}
      <p>this is the club name {{event.cid}}</p>
      <p>this is the event name {{event.event_name}}</p>
      <p>this is the event description {{event.event_description}}</p>
      <p>and whoevers doing ui, feel free to put other stuff</p>
      <br />
    {% endfor %}

  </div>
</section>

{% endblock body_block %}
