{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load guardian_tags %}

{% block body_block %}

{% get_obj_perms request.user for club as "club_perms" %}
<section class='section'>
  <div class='container'>

    
      {% include 'club_bar.html' with club=club club_id=club.id user=request.user%} 



    <br />



            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by1">
                        <img src="{{club.image.url}}" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image" style="height: 40px; width: 40px;">
                              <img src="{% static 'media/public.png' %}" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{club.club_name}}</p>
                            <p class="subtitle is-6">University of California, San Diego</p>
                        </div>
                    </div>

                </div>
        <div class="column">
            <blockquote>{{ club.summary}}</blockquote>
        </div>
  </div>


    <p> <h2> New Events  </h2></p>
    {% for event in events %}

   <div class="column is-8">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <br />
                  <img src="{{event.image.url}}" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                  <p> <h3><a href="{% url 'suite:event' club.id event.id %}">{{event.event_name}}</a>
                      {% if event.accessibility != True %}<span class="tag is-warning">Members Only</span>  {% endif %}
                      {% if event.required == True %}<span class="tag is-dark">Event Required</span>  {% endif %}</h3></p>

                  <p> {% if event.start_date != event.end_date %}{{event.start_date}} ({{event.start_time}}) - {{event.end_date}} ({{event.end_time}}){% endif %}
                      {% if event.start_date == event.end_date %}{{event.start_date}} : {{event.start_time}} - {{event.end_time}} {% endif %}
                  </p>
                  <p><h5 class="subtitle">{% if event.event_cost == 0 %} (FREE) {% endif %}</h5>
                    {% if event.event_fee != 0 %} (${{event.event_fee}} Event Fee) {% endif %}</p>
                  <p>Description: {{event.event_description}}</p>
                  <br />
              </div>
            </div>
          </article>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

{% endblock body_block %}
