{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}
<section class='section'>
<div class='container'>
  {% include 'club_bar.html' with club=club club_id=club.id user=request.user%} 
  <h1>requests</h1>
  {% for req in reqs %}
    {{ req.uid.get_full_name }} wants to join   {{ req.cid.club_name }} because
    {{ req.reason }}
    <span>
    <form method='POST' action="{% url 'suite:handle_join_request' req.cid.id %}">
      {% csrf_token %}
      <input class='button' type='submit' name='submit' value='Let him join!'>
      <input type='hidden' name='accept' value='{{ req.id }}'>
    </form>
    <form method='POST' action="{% url 'suite:handle_join_request' req.cid.id %}">
      {% csrf_token %}
      <input class='button' type='submit' name='submit' value='Delete'>
      <input type='hidden' name='delete' value='{{ req.id }}'>
    </form>
    </span>

  {% endfor %}
</div>
</section>
{% endblock body_block %}
