{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}
<section class='section'>
<div class='container'>
  <h1>requests</h1>
  {% for req in reqs %}
    {{ req.cid.club_name }}
    {{ req.uid.get_full_name }}
    {{ req.reason }}
    <form method='POST' action="{% url 'suite:handle_join_request' req.cid.id %}">
      {% csrf_token %}
      <input class='button' type='submit' name='submit' value='{{ req.uid.get_full_name }}'>
      <input type='hidden' name='accept' value='{{ req.id }}'>
    </form>
  {% endfor %}
</div>
</section>
{% endblock body_block %}
