{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}
<section class='section'>
    <div class="container">

         <h3>Edit Public Profile</h3>
         
        <form method="post" action="{% url 'suite:edit_profile' %}">
            {% csrf_token %}

            <div class="control is-horizontal">
                 <div class="control-label">
                      <label class="label" for="id_first_name">First Name</label>
                 </div>
                 <p class="control has-icon">
                      {{ form.first_name|add_class:'input is-fullwidth' }}
                      <span class="icon">
                           <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                 </p>
            </div>

            <div class="control is-horizontal">
                 <div class="control-label">
                      <label class="label" for="id_last_name">Last Name</label>
                 </div>
                 <p class="control has-icon">
                      {{ form.last_name|add_class:'input is-fullwidth' }}
                      <span class="icon">
                           <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                 </p>
            </div>

            <div class="control is-horizontal">
                 <div class="control-label">
                      <label class="label" for"id_email">Email</label>
                 </div>
                 <p class="control has-icon">
                      {{ form.email|add_class:'input is-fullwidth' }}
                      <span class="icon">
                           <i class="fa fa-envelope"></i>
                      </span>
                 </p>
            </div>

            <div class="control is-grouped">
                 <p class="control">
                      <button class="button is-primary" type="submit" name="details">Save</button>
                 </p>
            </div>
        </form>


        <h3>Edit Login Details</h3>
        {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="notification is-danger">
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              {% if form2.errors %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ form2.non_field_errors }}</p>
              {% endif %}
              {% if form2.old_password.errors %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ form2.old_password.errors}}</p>
              {% endif %}
              {% if form2.new_password1.errors %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ form2.new_password1.errors}}</p>
              {% endif %}
              {% if form2.new_password2.errors %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ form2.new_password2.errors }}</p>
              {% endif %}
            </div>
          {% else %}
            <div class="notification is-success">
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
          {% endif %}
          {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'suite:edit_profile' %}">
            {% csrf_token %}
            <div class="control is-horizontal">
                 <div class="control-label">
                      <label class="label" for="id_old_password">Old Password</label>
                 </div>
                 <p class="control has-icon">
                      {{ form2.old_password|add_class:'input is-fullwidth' }}
                      <span class="icon">
                           <i class="fa fa-key"></i>
                      </span>
                 </p>
            </div>

            <div class="control is-horizontal">
                 <div class="control-label">
                      <label class="label" for="id_new_password1">New Password</label>
                 </div>
                 <p class="control has-icon">
                      {{ form2.new_password1|add_class:'input is-fullwidth' }}
                      <span class="icon">
                           <i class="fa fa-key"></i>
                      </span>
                 </p>
            </div>

            <div class="control is-horizontal">
                 <div class="control-label">
                      <label class="label" for="id_new_password2">New Password Confirmation</label>
                 </div>
                 <p class="control has-icon">
                      {{ form2.new_password2|add_class:'input is-fullwidth' }}
                      <span class="icon">
                           <i class="fa fa-key"></i>
                      </span>
                 </p>
            </div>


          <div class="control is-grouped">
               <p class="control">
                    <button class="button is-primary" type="submit" name="password" value="Change Password">Save</button>
               </p>
          </div>

        </form>
    </div>
</section>
{% endblock body_block %}
