{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="container">
        <form method="post" action="{% url 'suite:edit_profile' %}">        
            {% csrf_token %}
            {{ form.as_p }}

            <input type='submit' name='details' value='Change Details'>
        </form>
        <form method="post" action="{% url 'suite:edit_profile' %}">        
            {% csrf_token %}
            {{ form2.as_p }}
            <input type='submit' name='password' value='Change Password'>
        </form>
    </div>
{% endblock body_block %}
