{% load staticfiles %}
<nav class="nav">
  <div class="nav-left">
    <a href={% url 'suite:dashboard' %} class="nav-item">
      <img src="{% static 'media/CSElogo.png' %}" alt="Club Suite Logo">
    </a>
  </div>

  <div class="nav-center">
  
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" id="nav-toggle-main">
    <span></span>
    <span></span>
    <span></span>
    &nbsp;
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu" id="nav-menu-main">
    <a href={% url 'suite:dashboard' %} class="nav-item">
      Home
    </a>
    <a href={% url 'suite:about' %} class="nav-item">
      About
    </a>
    <a class="nav-item" href={% url 'suite:club_search' %}>
      Club Search
    </a>
    <a class="nav-item" href={% url 'suite:club_create' %}>
      Create Club 
    </a>
    <a class="nav-item" href="{% url 'suite:club_manage' %}">
      Manage My Clubs
    </a>
    <a class="nav-item" href={% url 'suite:edit_profile' %}>
      Account 
    </a>
    
    <a class="nav-item" href={% url 'suite:dashboard' %}>
        {% if user.is_authenticated %}
        <p>| &nbsp;&nbsp;&nbsp; Welcome, {{ user.get_short_name }} </p> <a class="button is-warning-navbar" href="{% url 'suite:loggedout' %}">Logout</a>
        {% else %}
        <p>| &nbsp;&nbsp;&nbsp; Welcome, Guest </p><a class="button is-warning-navbar" href="{% url 'suite:login' %}">Log In</a><a class="button is-info-navbar" href="{% url 'suite:register' %}">Register</a>
        {% endif %} 
    </a>
  </div>
</nav>


<script type="text/javascript">
        document.getElementById("nav-toggle-main").addEventListener ("click", toggleNavMain);
        function toggleNavMain() {
                var nav = document.getElementById("nav-menu-main");
                var className = nav.getAttribute("class");
                if(className == "nav-right nav-menu") {
                    nav.className = "nav-right nav-menu is-active";
                } else {
                    nav.className = "nav-right nav-menu";
                }
        }
</script>

