{% load staticfiles %}

{# Bulma as the CSS framework #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css.map" type="text/css">
{# Font, could try other fonts from Google Fonts #}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

{# Our custom CSS #}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
