{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load mathfilters %}

{% block body_block %}
<section class='section'>
<div class='container'>
  <h1>Edit {{ club.club_name }}'s Details</h1>

  <form method='POST' action="{% url 'suite:club_edit' club.id %}">
    {% csrf_token %}
    <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_event_name">Club's Name</label>
            </div>
            <p class="control is-horizontal"> {{form.club_name | add_class:'input is-fullwidth' }}</p>
       </div>

     <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_event_name">Club's Description</label>
            </div>
            <p class="control is-horizontal"> {{form.club_description| add_class:'input is-fullwidth' }}</p>
     </div>
        {% render_field form.image %}
     <div class="control is-grouped">
      <p class="control">
           <button class="button is-primary" type="submit" name="details">Submit</button>
          <input type='hidden' name='edit'>
      </p>
    </div>
  </form>
</div>
</section>

{% endblock body_block %}

