{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}
<section class='section'>
  <div class='container'>

    <div class='heading'>
      <h1 class='title'>Create a Club</h1>
    </div>

    <form action="{% url 'suite:club_create' %}" method="post">
      {% csrf_token %}
      <div class="control is-horizontal">
           <div class="control-label">
                <label class="label" for="id_club_name">Name</label>
           </div>
           <p class="control">
                {{ form.club_name |add_class:'input is-fullwidth' }}
           </p>
      </div>

      <div class="control is-horizontal">
           <div class="control-label">
                <label class="label" for="id_club_type">Accessibility</label>
           </div>
           <p class="control">
                {{ form.club_type |add_class:'input is-fullwidth' }}
           </p>
      </div>

      <div class="control is-horizontal">
           <div class="control-label">
                <label class="label" for="id_club_description">Description</label>
           </div>
           <p class="control">
                {{ form.club_description |add_class:'textarea is-fullwidth' }}
           </p>
      </div>

      <div class="control is-horizontal">
           <div class="control-label">
                <label class="label" for="id_image">Cover Photo</label>
           </div>
           <p class="control">
                {{ form.image }}
                <!--{% render_field form.image class="button is-primary"%}-->
                <!--
                No aesthetic improvement either :/
                <img src="{{form.image.url}}"/>
               -->
           </p>
      </div>

        <div class="control">
           <p class="control">
               <button class="button is-primary" type="submit" name="details">Submit</button>
           </p>
      </div>

    </form>

  </div>
</section>
{% endblock body_block %}
