{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<section class='section'>
  <div class='container'>
    <div class='heading'>
      <h1 class='title'>spy on other clubzz!!</h1>
      <h2 class='subtitle'>here to find triton gaming</h2>
    </div>
    <form method='POST' action="{% url 'suite:club_search' %}">
      {% csrf_token %}
      {{ form }}
      <input class="button control" type="submit" value="Submit"/>
      {% if clubs %}
        {% for club in clubs.all %}
        <div>
          <a href="{% url 'suite:club_view' club.id %}">{{ club.club_name }}</a>
        </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
</section>
{% endblock body_block %}
