{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<section class='section'>
  <div class='container'>
    <div class='heading'>
      <h1 class='title'>spy on other clubzz!!</h1>
      <h2 class='subtitle'>here to find triton gaming</h2>
    </div>
    <form>
      <label>oh shit here lie a search form!</label>
      <p class='control'>
        <input class='input' type='text' placeholder='look 4 kool clubz'>
      </p>
      <p class="control">
        <button class="button is-primary">Submit</button>
      </p>
    </form>
  </div>
</section>

{% endblock body_block %}
