{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load guardian_tags %}

{% block body_block %}_
<section class='section'>
  <div class='container'>
      {% include 'club_bar.html' with club=club club_id=club.id user=request.user%} 
      
      <form method='POST' action="{% url 'suite:club_join' club.id %}">
      {% csrf_token %}
      <label class="label">Please explain why you would like to join.</label>
      <p class="control">
        {% render_field  form.reason class="textarea" %}
      </p>
      
      <input class="button is-primary" type="submit" value="Submit"/>
    </form>
  </div>
</section>
{% endblock body_block %}
