{% load staticfiles %}
{% load widget_tweaks %}
{% load guardian_tags %}
{% get_obj_perms user for club as "club_perms" %}


<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-center">
        <a class="nav-item" href="{% url 'suite:club_view' club_id %}">
          <img src="{% static 'media/club-home-icon.png' %}" alt="Club Suite">
        </a>
        <a class="nav-item is-tab is-hidden-mobile" href="{% url 'suite:club_roster' club_id %}">Club Roster</a>  
        {% if "can_request_reimbursement" not in club_perms %}
        <a class="nav-item is-tab is-hidden-mobile" href="{% url 'suite:club_join' club_id %}">Join this Club</a>  
        {% endif %}
        {% if "can_view_account_info" in club_perms %}
        <a class="nav-item is-tab is-hidden-mobile" href="{% url 'suite:club_emails' club_id %}">Generate Email List </a>
        {% endif %}
        {% if "can_handle_join_requests" in club_perms %}
        <a class="nav-item is-tab is-hidden-mobile" href="{% url 'suite:handle_join_request' club_id %}">Handle Join Request</a>
        {% endif %}
        {% if "can_access_budget" in club_perms %}
        <a class="nav-item is-tab is-hidden-mobile" href="{% url 'suite:budget' club_id %}">Access Budget</a>
        {% endif %}
        {% if "can_create_event" in club_perms %}
        <a class="nav-item is-tab is-hidden-mobile" href="{% url 'suite:event_create' club_id %}">Create Event</a>  
        {% endif %}
    </div>
   
    <div class="nav-right nav-menu" id="nav-menu">
      <a class="nav-item is-tab is-hidden-tablet" href="{% url 'suite:club_roster' club_id %}">Club Roster</a>
      {% if "can_request_reimbursement" not in club_perms %}
      <a class="nav-item is-tab is-hidden-tablet" href="{% url 'suite:club_join' club_id %}">Join this Club</a>
        {% endif %}
      {% if "can_view_account_info" in club_perms %}
      <a class="nav-item is-tab is-hidden-tablet" href="{% url 'suite:club_emails' club_id %}">Generate Email List </a>
      {% endif %}
      {% if "can_handle_join_requests" in club_perms %}
      <a class="nav-item is-tab is-hidden-tablet" href="{% url 'suite:handle_join_request' club_id %}">Handle Join Request</a>
      {% endif %}
      {% if "can_access_budget" in club_perms %}
      <a class="nav-item is-tab is-hidden-table" href="{% url 'suite:budget' club_id %}">Access Budget</a>
      {% endif %}
      {% if "can_create_event" in club_perms %}
      <a class="nav-item is-tab is-hidden-tablet" href="{% url 'suite:event_create' club_id %}"> Create Event</a>
      {% endif %}
    </div>
  </div>
</nav>

<script type="text/javascript">
        document.getElementById("nav-toggle").addEventListener ("click", toggleNav);
        function toggleNav() {
                var nav = document.getElementById("nav-menu");
                var className = nav.getAttribute("class");
                if(className == "nav-right nav-menu") {
                    nav.className = "nav-right nav-menu is-active";
                } else {
                    nav.className = "nav-right nav-menu";
                }
        }
</script>
