{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}

<form action="{% url 'suite:club_view' club.id %} "method="post">
  {% csrf_token %}
  <!-- inserting my own logic here-->
  <div class="control is-horizontal">
       <div class="control-label">
            <label class="label">Event Name</label>
       </div>
       <p class="control">
            {% render_field form.event_name class="input is-fullwidth" placeholder="Event Name" %}
       </p>
  </div>
  <!-- note: event_date field does not yet exist-->
  <div class="control is-horizontal">
       <div class="control-label">
          <label class="label">Date</label>
       </div>
       <p class="control">
          {% render_field form.start_date class="input is-fullwidth" %}
       </p>
  </div>

  <!-- note: current format will not work with DateTimeField -->
  <div class="control is-horizontal">
       <div class="control-label">
            <label class="label">Start Time</label>
       </div>
       <p class="control">
           {% render_field form.start_time class="input is-fullwidth"  %}
       </p>
  </div>

  <div class="control is-horizontal">
       <div class="control-label">
            <label class="label">End Time</label>
       </div>
       <p class="control">
           {% render_field form.end_time class="input is-fullwidth"  %}
       </p>
  </div>

  <div class="control is-horizontal">
       <div class="control-label">
            <label class="label">Location</label>
       </div>
       <p class="control">
              {% render_field form.event_location class="input is-fullwidth"  %}
       </p>
  </div>

  <div class="control is-horizontal">
       <div class="control-label">
           <label class="label">Description</label>
       </div>
       <p class="control">
                {% render_field form.event_description class="input is-fullwidth"  %}
       </p>
  </div>

  <div class="control is-horizontal">
       <div class="control-label">
            <label class="label">Cost</label>
       </div>
       <p class="control">
            {% render_field form.event_cost class="input is-fullwidth"  %}
            <span class="icon is-small">
                 <i class="fa fa-usd"></i>
            </span>
  </div>

  <div class="control is-horizontal">
       <div class="control-label">
            {% render_field form.accessibility %}
  </div>
  <br />
  <div class="control is-horizontal">
       <div class="control-label">
            <label class="label">Required</label>
       </div>
            {% render_field form.required %}
  </div>

<br />
  <input class="button control" type="submit" value="Submit"/>
<br />

{% endblock body_block %}
