{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}

<section class='section'>
  <div class='container'>

     <h1>Create an Event</h1>
     <form action="{% url 'suite:event_create' club.id %}" method="post">
       {% csrf_token %}

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_event_name">Event Name</label>
            </div>
            <p class="control">
                 {{ form.event_name|add_class:'input is-fullwidth' }}
            </p>
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_start_date">Start Date</label>
            </div>
            <p class="control">
                 {% render_field form.start_date class="input is-fullwidth" type="date" %}
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_start_time">Start Time</label>
            </div>
            <p class="control">
                 {% render_field form.start_time class="input is-fullwidth" type="time" %}
            </p>
       </div>

       <!-- note: end_date field does not yet exist-->
       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_end_date">End Date</label>
            </div>
            <p class="control">
                 {% render_field form.end_date class="input is-fullwidth" type="date" %}
       </div>

      <div class="control is-horizontal">
          <div class="control-label">
               <label class="label" for="id_end_time">End Time</label>
          </div>
          <p class="control">
               {% render_field form.end_time class="input is-fullwidth" type="time" %}
      </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label">Location</label>
            </div>
            <p class="control">
                 {{ form.event_location|add_class:'input is-fullwidth' }}
            </p>
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
               <label class="label" for="id_event_description">Description</label>
            </div>
            <p class="control">
                 {% render_field form.event_description class="textarea is-fullwidth" %}
            </p>
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_event_cost">Cost</label>
            </div>
            <p class="control has-icon">
                 {% render_field form.event_cost class="input is-expanded" type="number" step="any" %}
                 <span class="icon is-small">
                      <i class="fa fa-usd"></i>
                 </span>
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label" for="id_did">Division</label>
            </div>
            <p class="control has-icon">
                 {% render_field form.did %}
            </p>
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label">Public(Y/N)</label>
            </div>
            <p class="control">
                 <label class="checkbox">
                      {% render_field form.accessibility %}
                 </label>
               <!--
               Formatting I preferred but which does not seem to persist the changes
                 <label class="radio">
                      <input type="radio" name="id_accessibility" required>
                      Yes
                 </label>
                 <label class="radio">
                      <input type="radio" name="id_accessibility" required>
                      No
                 </label>
               -->
            </p>
       </div>

       <div class="control is-horizontal">
            <div class="control-label">
                 <label class="label">Required(Y/N)</label>
            </div>
            <p class="control">
                 <label class="checkbox">
                      {% render_field form.required %}
                 </label>
                 <!--
                 Formatting I preferred but which does not seem to persist the changes
                 <label class="radio">
                      <input type="radio" name="id_required" required>
                      Yes
                 </label>
                 <label class="radio">
                      <input type="radio" name="id_required" required>
                      No
                 </label>
               -->
            </p>
       </div>

       <div class="control is-grouped">
          <p class="control">
               <button class="button is-primary" type="submit" name="details">Submit</button>
          </p>
          <p class="control">
               <button class="button is-link" type="cancel">Cancel</button>
          </p>
      </div>
    </form>
  </div>
</section>
{% endblock body_block %}
