{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load guardian_tags %}


{% block body_block %}
{% get_obj_perms user for club as "club_perms" %}
<section class='section'>
<div class='container'>
      {% include 'club_bar.html' with club_id=club.id user=request.user%} 
  
  <h1> {{ event.event_name }} Sign In </h1>

  
      
    <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
       
   
  {% for member in members %}


    <th>{{ member.user.first_name}} {{ member.user.last_name }}</th>
    <th>{{ member.group }}</th>
    {% if "can_access_attendance" in club_perms %}
    <form method='POST' action="{% url 'suite:event' club.id event.id %}">
      {% csrf_token %}
      <th><input class='button' type='submit' name='submit' value='Sign In'></th>
      <input type='hidden' name='going' value='{{ member.user.id }}'>
    </form>
    {% endif %}

</tr>


       {% endfor %}
  </tbody>
</table>
       
  <br />

<p>Members who have signed in</p>
    <table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
    </tr>
  </tfoot>
  <tbody>
       
   
  {% for eventSignIn in eventSignIns %}


  <th>{{ eventSignIn.uid}}</th>

</tr>


       {% endfor %}
  </tbody>
</table>
  <ul>
  </ul>



  </div>
</section>

{% endblock body_block %}
